<!-- Blog Categories Well -->
                <div class="well" style="padding:15px">
                    <h4><span class="glyphicon glyphicon-tags"></span>
					标签分类</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <a href="#"><li style="margin:5px"><span class="label label-default" >默认标签</span></li>
                                </a>
								<li style="margin:5px"><span class="label label-primary">主要标签</span></li>
                                <li style="margin:5px"><span class="label label-success">成功标签</span></li>
                            </ul>
                        </div>
                        <!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li style="margin:5px"><span class="label label-default" >默认标签</span></li>
                                <li style="margin:5px"><span class="label label-primary">主要标签</span></li>
                                <li style="margin:5px"><span class="label label-success">成功标签</span></li>
                            </ul>
                        </div>
                        <!-- /.col-lg-6 -->
                    </div>
                    <!-- /.row -->
                </div>